services:
  app:
    build: .
    container_name: cute_bunny_web_app
    ports:
      - "7001:80"
    volumes:
      - .:/var/www/html
    restart: unless-stopped
    user: "1000:1000"

  db:
    image: mysql:5.7
    container_name: cute_bunny_db
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: apppw
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  db_data:
